p {
	font-family: Garamond;
	font-size: 40px;
	color:orange;
	position:relative;
	left:220px;
}

select {
	font-family:Times;
	font-size:20px;
	color:blue;
}



h1 {

	position:relative;
	left:80px;
	font-family:Courier;
	color:#FF00FF;
	font-style:bold;
	font-size:40px;
}

canvas{
	background-color:#778899;
	position: relative;
	left:200px;

}
